main {
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 336.93px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

article {
    padding: 0 5px;
    border: 1px solid #000;
}

.mes {
    width: 336.93px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.box_content {
    width: 336.93px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.active {
    display: flex !important;
}

