*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.myinput{
    border: 1px solid #cecece;
    background: rgba(255, 255, 255, .5);
    color: #7e7777;
    font-size: 20px;
}

.anima{
    animation: myanimation 2s;
}

h1{
    animation: myanimation2 2s;
}

body{
    height:  100vh;
    background: linear-gradient(
        to right bottom,
        #cecece,
        #fff
    );
}

@keyframes myanimation{
    0%{
        transform: translateY(500px);
        opacity: 0;
    }

    30%{
        opacity: .5;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes myanimation2{

    0%{
        transform: translateY(560px);
        opacity: .2;
    }
    30%{
        opacity: .5;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}